<a href="#" class="latest-product__item">
    <div class="latest-product__item__pic">
        <img src=<%=productImage%> alt="">
    </div>
    <div class="latest-product__item__text">
        <h6> <%=productName%> </h6>
        <span>$ <%=productPrice%> </span>
    </div>
</a>