<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teche | Commerce</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/user/css/login-style.css" type="text/css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

</head>

<body>

  <div class="wrapper">
    <div class="card">
        <div class="d-flex flex-column" method="">
            <div class="h3 text-center text-white">Reset Password</div>
            <div class="d-flex align-items-center input-field mb-3"> 
              <span class="fas fa-lock p-2"></span> 
              <input type="password" placeholder="Your Password" class="form-control" id="userpwd">
                <span class="input-group-text" id="password_show_hide">
                  <i class="fas fa-eye" id="show_eye"></i>
                  <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                </span>  
            </div>
            <p class="text-danger text-break mb-0" id="password-error"> </p>
            <div class="d-flex align-items-center input-field "> 
                <span class="fas fa-lock p-2"></span> 
                <input type="password" placeholder="Enter Password Again" class="form-control" id="userpwd-confirm">
            </div>
            <p class="text-danger text-break mb-0" id="password-confirm-error"> </p>
            <div class="d-flex align-items-center">
                <p class="text-danger text-break" id="error"></p>
                <p class="text-success text-break" id="sucess"></p>
            </div>
            <div class="my-3"> <div id="confirm" class="btn btn-primary">Confirm</div></div>
            <div class="mt-sm-0 mt-3"><a href="/login">You just remember your password?</a></div>
            </div>
        </div>
    </div>

    <!-- Js Plugins -->
  <%-include('partials/script') %>
  <script>
    const hash = <%-JSON.stringify(hash)%>;
</script>
  <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
  <scprit scr="/user/js/utils/validator.js"></scprit>
  <script type="module" src="/user/js/forget-password.js"></script>

    

</body>

</html>