<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teche | Login</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/login-style.css" type="text/css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

</head>

<body>
    <div class="wrapper">
        <div class="card">
            <div  class="d-flex flex-column"">
                <div class="h3 text-center text-white">Login</div>
                <div class="d-flex align-items-center input-field my-3 mb-4"> 
                    <span class="far fa-user p-2"></span>
                    <input type="text" placeholder="Email" required class="form-control" id="useremail"> 
                </div>
                <div class="d-flex align-items-center input-field mb-4"> 
                    <span class="fas fa-lock p-2"></span> 
                    <input type="password" placeholder="Password" required class="form-control" id="userpwd">
                    <span class="input-group-text" onclick="password_show_hide();">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                      </span> 
                </div>
                <div class="d-sm-flex align-items-sm-center justify-content-sm-between">
                    <div class="d-flex align-items-center">
                        <p class="text-danger text-break" id="error"></p>
                    </div>
                    <div class="mt-sm-0 mt-3"><a href="/memoryshit">Forgot password?</a></div>
                </div>
                <div class="my-3"> <input type="button" value="Login" class="btn btn-primary" id="login"></input></div>
                <div class="mb-3"> <span class="text-light-white">Don't have an account?</span> <a href="/signup">Sign Up</a>
                </div>
            </div>
            <div class="position-relative border-bottom my-3 line"> <span class="connect">or connect with</span> </div>
            <div class="text-center py-3 connections"> <a href="https://wwww.facebook.com" target="_blank" class="px-2">
                    <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt=""> </a> <a
                    href="https://www.google.com" target="_blank" class="px-2"> <img
                        src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                        alt=""> </a> </div>
        </div>
    </div>

    <!-- Js Plugins -->
    <%-include('partials/script') %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <script src="/user/js/authenticate.js"></script>




</body>

</html>