<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teche | Signup</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="user/css/login-style.css" type="text/css">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

</head>

<body>
    <div class="toast" data-autohide="false" >
        <div class="toast-header">
          <strong class="mr-auto text-primary">Teche</strong>
          <small class="text-muted">You have 7 day to save your shit</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <form action="" class="d-flex flex-column" method="">
                <div class="h3 text-center text-white">Signup</div>
                <div class="d-flex align-items-center input-field"> 
                    <span class="far fa-user p-2"></span>
                    <input type="text" placeholder="Email" required class="form-control" id="useremail" autocomplete="off"> 
                </div>
                <div class="d-flex align-items-center input-field my-3"> 
                    <span class="far fa-user p-2"></span>
                    <input type="text" placeholder="Your name" required class="form-control" id="username" autocomplete="off"> 
                </div>
                <div class="d-flex align-items-center input-field mb-4"> 
                    <span class="fas fa-lock p-2"></span> 
                    <input type="password" placeholder="Password" required class="form-control" id="userpwd">
                    <span class="input-group-text" id="password_show_hide">
                        <i class="fas fa-eye" id="show_eye"></i>
                        <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
                      </span> 
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-danger text-break" id="error"></p>
                </div>
                <div class="my-3"> <input type="button" value="Signup" id="signup" class="btn btn-primary"></input></div>
                <div class="mt-sm-0 mt-3"><a href="/login">You already have account?</a></div>

                </div>
            </form>
        </div>
    </div>

    <!-- Js Plugins -->
    <%-include('partials/script') %>
    <script src="https://unpkg.com/validator@latest/validator.min.js"></script>
    <scprit scr="/user/js/utils/validator.js"></scprit>
    <script type="module" src="/user/js/signup.js"></script>


</body>

</html>