<div class="product__pagination">
    <% for(let i = 0; i < page.total;i++) { %>
    <a href="#">hehe</a>
    <% } %>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
</div>