<div class="hero__item set-bg align-items-center" data-setbg="img/hero/banner.jpg">
    <div class="hero__text">
        <span>FRUIT FRESH</span>
        <h2>Vegetable <br />100% Organic</h2>
        <p>Free Pickup and Delivery Available</p>
        <a href="#" class="btn-lg btn-primary text-uppercase font-weight-bold">details</a>
    </div>
</div>