<div class="hero__search">
    <div class="hero__search__form">
        <form>
            <input type="text" placeholder="What do yo u need?" id="searchBox">
            <button type="submit" class="site-btn" id="searchBtn">SEARCH</button>
        </form>
    </div>
    <div class="hero__search__phone">
        <div class="hero__search__phone__icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="hero__search__phone__text">
            <h5>+65 11.188.888</h5>
            <span>support 24/7 time</span>
        </div>
    </div>
</div>