    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Categories</span>
        </div>
        <ul>
            <li><a href="#">Laptop And Macbook</a></li>
            <li><a href="#">Mobile</a></li>
            <li><a href="#">TV - Monitor</a></li>
            <li><a href="#">Hi-End Gaming</a></li>
            <li><a href="#">Computer Components</a></li>
            <li><a href="#">Accessories Peripherals</a></li>
            <li><a href="#">Audio</a></li>
            <li><a href="#">Office Devices</a></li>
            <li><a href="#">Security Devices</a></li>
        </ul>
    </div>
