<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            <%-include('hero-category') %> 
            </div>
            <div class="col-lg-9">
                <%-include('hero-search') %> 
            </div>
        </div>
    </div>
</section>