<!-- Category table Start -->
<div class="container-fluid pt-4 px-4 vh-100">
    <div class=" row justify-content-center py-4 bg-light rounded mx-0 px-0 h-100">
        <div class="d-flex flex-column">
            <div class="row p-4">
                <div class="col-6">
                    <h6 class="mb-4">Categories</h6>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <button class="btn btn-primary table-load-trigger"><i
                            class="fa-solid fa-arrows-rotate"></i></button>
                </div>
            </div>
            <div class="col-12 flex-grow-1">
                <div class="table-data">
                    <div class="table-responsive table-fields">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Categories Name</th>
                                    <th scope="col">Number of products</th>
                                    <th scope="col">Ranking Points</th>
                                    <th scope="col">Created At</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="table-spinner">
                        <div class="spinner-border table-spinner-icon " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
     
    </div>
</div>
<!-- Category table End -->

<!-- Pagination Start -->

<div class="mt-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">  
        </ul>
    </nav>
</div>
<!-- Pagination End -->
